<h1>User info</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<h4>name</h4>
<%= @user.name %>
<h4>introduction</h4>
<%= @user.introduction %>
<%=link_to "Edit",edit_user_path(@user.id) %>

<h1>Books</h1>
<p>Title </p>
<p>Opinion</p>
<% @books.each do |book| %>
<div>
<%=link_to user_path(@user.id) do %>
<%= image_tag @user.get_profile_image(100,100) %>
<% end %>

<%= link_to book_path(book.id) do %>
<%=book.title %>
<% end %>
<%=book.body %>
<% end %>
</div>