<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<%= render 'users/user',book:@book,user:@user %>
</div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table class="table">
  <tbody>
    <tr>
      <td>
<%= image_tag @book.user.get_profile_image(100,100) %>
</td>
<td>
<%=link_to user_path(@book.user.id) do %>
<%= @book.user.name %>
<% end %>
</td>

<td>
<%=link_to book_path(@book.id) do %>
<%= @book.title %>
<% end %>
</td>

<td>
<%= @book.body %>
</td>

<% if @book.user == current_user %>
<td>
<%=link_to "Edit",edit_book_path(@book.id),class:"btn btn-sm btn-success" %>
</td>
<td>
<%=link_to "Destroy",book_path(@book.id),method: :delete,"data-confirm"=>"本当に消しますか？",class:"btn btn-sm btn-danger" %>
<% end %>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>